* {
    font-family: JetBrainsMono;
    font-size: 16px;
    min-height: 0;
    color: #D8DEE9;
}

window#waybar {
    background: transparent;
}

#workspaces button.empty {color: #E5E9F0;}

#workspaces button.active {
    background-color: #8FBCBB;
    border-radius: 16px;
}

#workspaces button {
    border-radius: 16px;
    margin-right: 8px;
    margin-left: 8px;
    padding: 4px 8px;
    font-weight: bold;
    background: transparent;
    color: #E5E9F0;
}

#tray, #backlight, #pulseaudio, #battery, #clock, #custom-language, #idle_inhibitor, #custom-power {
    margin: 0 8px;
    padding: 0 16px;
    background: #2E3440;
    border-radius: 16px;
    min-height: 32px;
    font-weight: bold;
}

#backlight {
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #EBCB8B;
}

#battery {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #EBCB8B;
    padding-left: 8px;
}

#tray {
    margin: 0 8px;
    padding: 0 8px;
}

#custom-language { color: #81A1C1; }
#pulseaudio { color: #A3BE8C; }
#idle_inhibitor { color: #B48EAD; }
#clock { color: #8FBCBB; }
#custom-power { color: #BF616A; }
#custom-power { font-size: 24px; }
